
@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin: auto; width: 60%; background-color: powderblue;">
    <h2>@ViewBag.User - Score = @ViewBag.MyScore</h2>
    
    <section style="margin:auto;">
        @foreach (var upload in ViewBag.ProfilePic)
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="photobox">
                        <img class="thumb" src="@upload.FilePath" />
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Upload", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>
                <input type="file" name="File" class="form-control" />
                <input type="submit" value="Choose Profile Pic" class="btn btn-link" />
            </p>
        }
    </section>
    <section>
        <h3>My Questions</h3>
        <ul>
            @foreach (var question in ViewBag.MyQuestions)
            {
                <li><a href="/Question/Details/@question.Id">@question.Title - @question.Question</a></li>
            }
        </ul>
    </section>
    <section><h3>Score Info</h3>
        <ul>
            @foreach (var point in ViewBag.MyPoints)
            {
                <li>@point.Points points for @point.Reason</li>
            }
        </ul>
    </section>
   
</div>

