@model Stack_Undertow.Models.Questions

@{
    ViewBag.Title = "Details";
}
<div class="container" style="margin: auto;">
    <section style="margin:auto;">
        <div class="row">
            <div class="col-md-3">
                <div class="photobox">
                    <img class="thumb" src="@ViewBag.Screenshot" />
                </div>
            </div>
        </div>
    </section>
    <div>
        <h4>Questions</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Question)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Question)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt>
            </dt>
            <dd>
                @Html.ActionLink("Add Answer", "Create", "Answer", new { Qid = Model.Id }, null)
            </dd>
        </dl>
    </div>
    <h4>Answers</h4>
    @foreach (var answer in ViewBag.Answers)
    {
       
            <p>(Score: @answer.Score) @answer.AnswerUser.UserName - @answer.AnswerText -
                | @Html.ActionLink("Details", "Details", "Answer", new { id = answer.Id }, null)
                | @Html.ActionLink("Like", "Like", "Answer", new { Qid = Model.Id, AId = answer.Answerer, An = answer.Id }, null)
                | @Html.ActionLink("Dislike", "Dislike", "Answer", new { Qid = Model.Id, AId = answer.Answerer, An = answer.Id }, null)
            </p>
    }
</div>