@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="margin: auto;">
    <h1>All Questions</h1>
    @foreach (var question in ViewBag.AllQuestions)
    {
        <div class="row">
            <div class="col-lg-8">
                <h3>@question.Title</h3>
                <h5>@question.Question</h5>
                <h6>Posted by @question.Poster on @question.Created</h6>
                @Html.ActionLink("See more", "Details", "Question", new { id = question.Id }, null)
            </div>
        </div>
    <p></p>
    <p></p>
    }
    </div>

